<footer class="bg-dark">
  <div class="d-flex justify-content-center">
    <div class="justify-content-center">
      <a href="https://github.com" target="_blank" data-toggle="tooltip" data-placement="left" title="Github"><i
          class="fab fa-github-square fa-2x"></i></a>
      <a href="https://linkedin.com" target="_blank" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
          class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://twitter.com" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
          class="fab fa-twitter-square fa-2x"></i></a>
      <a href="https://facebook.com" target="_blank" data-toggle="tooltip" data-placement="right" title="Facebook"><i
          class="fab fa-facebook-square fa-2x"></i></a>
    </div>
  </div>
</footer>