<link href="../css/carrousel.css" rel="stylesheet">
<div class="container text-center">
  <h1>Bienvenido</h1>
  <h4 class="pb-2">Sitio web creado con la intencion de poder sacar a los animales de la calle</h4>
  <div id="carouselExampleIndicators" class="carousel slide top-0 start-50 translate-middle-x" data-bs-ride="carousel" style="width: 56vw">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 0"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/carrousel/1.jpg" style="width: 40%" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/carrousel/2.jpg" style="width: 40%" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/carrousel/3.jpg" style="width: 40%" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/carrousel/4.jpg" style="width: 40%" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/carrousel/5.jpg" style="width: 40%" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/carrousel/6.jpg" style="width: 40%" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>