<div class="container text-center">
  <h1>Bienvenido</h1>
  <p> Sitio web creado para rescatar animales callejeros </p>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 56vw">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/08f081ab-1753-4ebd-90ff-087065eb0943.jpg" style="width: 400px;"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/29be5989-a636-4376-ba48-813ab54f6d3f.jpg" style="width: 400px;"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/e411fdba-de0c-40ce-8577-f4c5aa14cf28.jpg" style="width: 400px;"
          alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>