<link href="css/signin.css" rel="stylesheet">
<form class="form-signin text-center" action="/login" method="POST" >
    <img class="mb-4" src="/img/login.jpg" alt="" width="100%" height="100%">

    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="User">
      <label for="User">User</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
      <label for="pass">Password</label>
    </div>

    <button href="" class="w-100 mb-4 btn btn-lg btn-info" type="submit">Login</button>
    <a href="/register" type="button" class="w-100 btn btn-lg btn-primary">Registrarse</a>

</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{#if alert}}
<script>
    Swal.fire({
    title: '{{alertTitle}}',
    text: '{{alertMesagge}}',
    icon: '{{alertIcon}}',
    }).then(()=>{
      window.location = '/{{ruta}}'
    })
</script>
{{/if}}