{{#each rows}}
<h1>Bienvenido {{this.first_name}} {{this.last_name}} alias el {{this.usuario}} a tu perfil</h1>
<div class="row">
  <div class="col-6"><h1>Users</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/post" type="button" class="btn btn-primary align-self-center">+add Callejero</a>
  </div>
</div>
<h2>ANIMALES RESCATADOS = 2</h2>

{{/each}}