<div class="container text-center d-">
  {{#if contact}}
  <h1>Gracias {{contact.first_name}} por contactarnos</h1>
  <h2>Responderemos tu correo a la brevedad</h2>
  <div>
    <img src="../img/estaticas/descarga.jpg" alt="">
  </div>
  <a href="/" type="button" class="btn btn-danger mt-3">Volver</a>
  {{/if}}
</div>