{{#each posts}}
<div class="card text-center mb-5 mr-5" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="{{photo}}">
  <div class="card-body">
    <h5 class="card-title">{{address}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="" class="btn btn-danger">Delete</a>
    <a href="" class="btn btn-secondary">Edit</a>
  </div>
</div>
{{/each}}